<div class="section-container">
  <h2>System health</h2>
  <div class="card-deck servers">
    <div *ngFor="let server of servers">
      <app-server [server]="server" (serverAction)="sendMessage($event)"></app-server>
    </div>
  </div>
</div>
