<app-navbar id="navbar" class="navbar navbar-dark fixed-top bg-dark"></app-navbar>
<div class="container-fluid">
  <div class="row" id="mainContent">
    <app-sidebar id="sideBar" class="col-sm-2 col-md-2 d-none d-sm-block sidebar"></app-sidebar>
    <div class="col-sm-10 ml-sm-auto col-md-10 pt-2" id="dashboard">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
