<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/sales">Sales Volume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders">Lates Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/health">System Health</a>
  </li>
</ul>
