<div class="chart">
  <canvas *ngIf='barChartData && barChartData.length > 0' baseChart [datasets]="barChartData" [labels]="barChartLabels"
    [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">

  </canvas>
</div>
