<div class="pages">
  <span class="page-counts">{{getMin()}} through {{getMax()}} of {{count}} orders</span>
  <span class="page-totals">{{totalPages()}}</span>
  <div *ngIf="count > 0">
    <button class=" btn btn-info" (click)="onPrev()" [disabled]="page === 1||loading">Previous</button>
    <button class="btn btn-sm btn-info btn-pageNumber" *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)"
      [ngClass]="{'active':pageNum ===page, 'disabled': loading}">{{pageNum}}</button>
    <button class="btn btn-info" (click)="onNext()" [disabled]="isLastPage()||loading">Next</button>
  </div>
</div>
