<div class="card mb-3 shadow block-status" [ngStyle]="{'background-color':color}">
  <div class="card-header name">
    {{server.name}}
  </div>
  <div class="card-body status">
    {{serverStatus}}
    <button (click)="sendServerAction(server.isOnline)" class="btn btn-default action">{{buttonText}}</button>
  </div>
</div>
