<div class="section-container">
  <div class="cards">
    <div class="row-fluid card-deck">
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Daily Orders</h5>
        </div>
        <div class="card-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Orders by Customer</h5>
        </div>
        <div class="card-body">
          <app-pie-chart *ngIf='salesDataByCustomer' [inputData]='salesDataByCustomer' [limit]='3'></app-pie-chart>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Orders by Sales</h5>
        </div>
        <div class="card-body">
          <app-pie-chart *ngIf='salesDataByState' [inputData]='salesDataByState' [limit]='5'></app-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid cards">
    <div class="card shadow card-theme card-bottom">
      <div class="card-header card-header theme">
        <h5>Monthly Sales by Product</h5>
      </div>
      <div class="card-body">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
</div>
