<div class="chart">
  <canvas *ngIf='lineChartData' baseChart [colors]="lineChartColors" [datasets]="lineChartData"
    [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"
    style="width:100%; height:100%;">
  </canvas>
</div>
