<div class="section-container">
  <h2>Latest Orders</h2>
  <table class="table table-dark table-inverse table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Customers</th>
        <th>Amount</th>
        <th>Order Placed</th>
        <th>Order Fulfilled</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.customer.name}}</td>
        <td>{{order.total}}</td>
        <td>{{order.placed | date: 'short'}}</td>
        <td>{{order.completed | date: 'short'}}</td>
        <td>Status</td>
      </tr>
    </tbody>
  </table>
  <app-pagination (goPrev)="goToPrevious()" (goNext)="goToNext()" (goPage)="goToPage($event)" [page]="page"
    [perPage]="limit" [count]="total"></app-pagination>
</div>
